numpy<1.19.0,>=1.16.0
pandas>=1.0
seaborn
matplotlib
tensorflow==2.3.2
tensorflow-probability==0.11.0
arviz>=0.10
scipy==1.4.1
anndata
patsy
sklearn
scanpy
statsmodels
git+git://github.com/biocore/scikit-bio@master
